<template>
        
        <div class ="container">
                <a href="" class="text-muted" click.trigger="backPhotos()" style="color:#FF7F00;font-family: chiller;font-size:180%;"><b>Click me to go Back..</b></a>             
                <h1 style="text-align:center;font-family: chiller;color:#FF7F00; margin-left:15px;"><b>Upload a Photo 😊!!</b></h1>        
            <!-- <div class="card topMargin">
                <div class="card-body">
                    <span><i click.trigger="backPhotos()" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></span>
                   
                </div>
            </div>   -->
            <br>
            <br>
           
            <form align="center">
                    <div class="row">
                    <div class="col-6">
                        <label class="btn btn-primary" style="color:black;font-size:160%;font-family: chiller;">
                            <b>Browse for Photos</b> <input type="file" 
                            style="display: none;" 
                            change.delegate="changeFiles()" files.bind="files">
                            </label>
                            <small id="fileHelp" class="form-text text-muted" style="color:black;font-size:100%;font-family: chiller;">
                            <b>Upload a photo in the gallery 😊.</b></small>
                            </div>	
                            <br>
                                    <div class="col-6">
                                        <ul>
                                            <li repeat.for="file of filesToUpload" class="list-group-item">
                                                ${file.name}<span click.delegate="removeFile($index)" 
                                                class="pull-right"><i class="fa fa-trash" aria-hidden="true">
                                                </i></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                
                                <button click.trigger="savePhotos()" class="btn btn-primary topMargin" style="color:black;font-size:160%;font-family: chiller;"><b>Save Photo</b></button>
                            </form>
                    </div>
                    </template>